body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:527px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  color:#232A39;
  line-height:31px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:395px;
  width:580px;
  height:527px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  color:#232A39;
  line-height:31px;
}
#u87 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:2px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:727px;
  width:104px;
  height:1px;
  display:flex;
  font-family:'Ubuntu-Light', 'Ubuntu Light', 'Ubuntu', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:128px;
  color:#000000;
  line-height:145px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:164px;
  width:1180px;
  height:145px;
  display:flex;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:128px;
  color:#000000;
  line-height:145px;
}
#u89 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3618px;
  width:1200px;
  height:657px;
}
#u91_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:657px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:50px;
  color:#FFFFFF;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:3737px;
  width:561px;
  height:75px;
  display:flex;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:50px;
  color:#FFFFFF;
}
#u92 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:32px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:3865px;
  width:205px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:32px;
}
#u94 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:222px;
  height:9px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:3897px;
  width:217px;
  height:4px;
  display:flex;
  text-align:left;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:32px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:3931px;
  width:267px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:32px;
}
#u96 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:3867px;
  width:46px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u97 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:9px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:3897px;
  width:49px;
  height:4px;
  display:flex;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:3867px;
  width:78px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u99 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:83px;
  height:9px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:3897px;
  width:78px;
  height:4px;
  display:flex;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:3867px;
  width:43px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:9px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:3897px;
  width:49px;
  height:4px;
  display:flex;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1086px;
  width:580px;
  height:62px;
  display:flex;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:1550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1979px;
  width:580px;
  height:1550px;
  display:flex;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:105px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:961px;
  width:432px;
  height:105px;
  display:flex;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:105px;
}
#u105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:105px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1178px;
  width:432px;
  height:105px;
  display:flex;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:105px;
}
#u106 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1356px;
  width:419px;
  height:20px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u107 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1398px;
  width:419px;
  height:20px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u108 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1440px;
  width:419px;
  height:20px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u109 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1482px;
  width:419px;
  height:20px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u110 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:49px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1580px;
  width:580px;
  height:49px;
  display:flex;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:49px;
}
#u111 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1704px;
  width:580px;
  height:124px;
  display:flex;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u112 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:49px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1883px;
  width:580px;
  height:49px;
  display:flex;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:49px;
}
#u113 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1650px;
  width:580px;
  height:31px;
  display:flex;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u114 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:312px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:402px;
  width:441px;
  height:312px;
  display:flex;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:61px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u116 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:61px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u117 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:18px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:54px;
  width:191px;
  height:18px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:18px;
}
#u119 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:9px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:83px;
  width:55px;
  height:4px;
  display:flex;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:9px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:83px;
  width:55px;
  height:4px;
  display:flex;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1312px;
  width:419px;
  height:20px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u87.a {
}
#u87_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:527px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  color:#232A39;
  line-height:31px;
}
#u87.a {
}
#u87_text.a {
}
#u87 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u88.a {
}
#u88_img.a {
}
#u88.a {
}
#u88_text.a {
}
#u88 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u89.a {
}
#u89_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:128px;
  color:#000000;
  line-height:145px;
}
#u89.a {
}
#u89_text.a {
}
#u89 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u90.a {
  position:absolute;
  left:0px;
  top:3618px;
  width:1200px;
  height:657px;
}
#u91.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3618px;
  width:1200px;
  height:657px;
}
#u91_state0.a {
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92.a {
}
#u92_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:50px;
  color:#FFFFFF;
}
#u92.a {
}
#u92_text.a {
}
#u92 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u94.a {
}
#u94_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:32px;
}
#u94.a {
}
#u94_text.a {
}
#u94 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u95.a {
}
#u95_img.a {
}
#u95.a {
}
#u95_text.a {
}
#u95 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u96.a {
}
#u96_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:32px;
}
#u96.a {
}
#u96_text.a {
}
#u96 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u97.a {
}
#u97_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u97.a {
}
#u97_text.a {
}
#u97 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u98.a {
}
#u98_img.a {
}
#u98.a {
}
#u98_text.a {
}
#u98 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u99.a {
}
#u99_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u99.a {
}
#u99_text.a {
}
#u99 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u100.a {
}
#u100_img.a {
}
#u100.a {
}
#u100_text.a {
}
#u100 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u101.a {
}
#u101_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u101.a {
}
#u101_text.a {
}
#u101 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u102.a {
}
#u102_img.a {
}
#u102.a {
}
#u102_text.a {
}
#u102 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u103.a {
}
#u103_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u103.a {
}
#u103_text.a {
}
#u103 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u104.a {
}
#u104_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:1550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u104.a {
}
#u104_text.a {
}
#u104 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u105.a {
}
#u105_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:105px;
}
#u105.a {
}
#u105_text.a {
}
#u105 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u106.a {
}
#u106_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:105px;
}
#u106.a {
}
#u106_text.a {
}
#u106 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u107.a {
}
#u107_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u107.a {
}
#u107_text.a {
}
#u107 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u108.a {
}
#u108_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u108.a {
}
#u108_text.a {
}
#u108 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u109.a {
}
#u109_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u109.a {
}
#u109_text.a {
}
#u109 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u110.a {
}
#u110_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u110.a {
}
#u110_text.a {
}
#u110 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u111.a {
}
#u111_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:49px;
}
#u111.a {
}
#u111_text.a {
}
#u111 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u112.a {
}
#u112_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u112.a {
}
#u112_text.a {
}
#u112 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u113.a {
}
#u113_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:49px;
}
#u113.a {
}
#u113_text.a {
}
#u113 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u114.a {
}
#u114_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u114.a {
}
#u114_text.a {
}
#u114 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u115.a {
}
#u115_img.a {
}
#u115.a {
}
#u115_text.a {
}
#u115 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u116.a {
}
#u116_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u116.a {
}
#u116_text.a {
}
#u116 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u117.a {
  left:284px;
  top:33px;
}
#u117_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u117.a {
  left:284px;
  top:33px;
}
#u117_text.a {
}
#u117 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u119.a {
  left:19px;
  top:31px;
  width:82px;
  height:36px;
}
#u119_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:18px;
}
#u119.a {
  left:19px;
  top:31px;
  width:82px;
  height:36px;
}
#u119_text.a {
}
#u119 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u120.a {
}
#u120_img.a {
}
#u120.a {
}
#u120_text.a {
}
#u120 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u121.a {
  left:293px;
  top:55px;
}
#u121_img.a {
}
#u121.a {
  left:293px;
  top:55px;
}
#u121_text.a {
}
#u121 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u122.a {
}
#u122_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u122.a {
}
#u122_text.a {
}
#u122 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
