body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:527px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  color:#232A39;
  line-height:31px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:519px;
  width:580px;
  height:527px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  color:#232A39;
  line-height:31px;
}
#u101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:2px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:855px;
  width:104px;
  height:1px;
  display:flex;
  font-family:'Ubuntu-Light', 'Ubuntu Light', 'Ubuntu';
  font-weight:200;
  font-style:normal;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit-Regular', 'Kanit';
  font-weight:400;
  font-style:normal;
  font-size:103px;
  color:#232A39;
  line-height:105px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:163px;
  width:580px;
  height:315px;
  display:flex;
  font-family:'Kanit-Regular', 'Kanit';
  font-weight:400;
  font-style:normal;
  font-size:103px;
  color:#232A39;
  line-height:105px;
}
#u103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:60px;
  width:55px;
  height:23px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:60px;
  width:55px;
  height:23px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u106 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:18px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:82px;
  height:36px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:18px;
}
#u108 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:73px;
  height:27px;
  display:flex;
  opacity:0.8;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:9px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:83px;
  width:55px;
  height:4px;
  display:flex;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:9px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:83px;
  width:55px;
  height:4px;
  display:flex;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:553px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:299px;
  width:452px;
  height:553px;
  display:flex;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3683px;
  width:1200px;
  height:657px;
}
#u114_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:657px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(35, 42, 57, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:50px;
  color:#FFFFFF;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3802px;
  width:561px;
  height:75px;
  display:flex;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:50px;
  color:#FFFFFF;
}
#u115 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:26px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3879px;
  width:1200px;
  height:26px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:26px;
}
#u116 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:32px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3921px;
  width:217px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:32px;
}
#u118 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:222px;
  height:9px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3953px;
  width:217px;
  height:4px;
  display:flex;
  text-align:left;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:32px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4198px;
  width:186px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:32px;
}
#u120 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4134px;
  width:49px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u121 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:9px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4164px;
  width:49px;
  height:4px;
  display:flex;
}
#u122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:4134px;
  width:78px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u123 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:83px;
  height:9px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:4164px;
  width:78px;
  height:4px;
  display:flex;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:4134px;
  width:49px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u125 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:9px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:4164px;
  width:49px;
  height:4px;
  display:flex;
}
#u126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1214px;
  width:580px;
  height:62px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u127 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:1550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:2044px;
  width:580px;
  height:1550px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u128 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit-Regular', 'Kanit';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:105px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1089px;
  width:432px;
  height:105px;
  display:flex;
  font-family:'Kanit-Regular', 'Kanit';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:105px;
}
#u129 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit-Regular', 'Kanit';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:105px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1306px;
  width:432px;
  height:105px;
  display:flex;
  font-family:'Kanit-Regular', 'Kanit';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:105px;
}
#u130 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-weight:normal;
  font-size:16px;
  line-height:20px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1431px;
  width:419px;
  height:20px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-weight:normal;
  font-size:16px;
  line-height:20px;
}
#u131 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-weight:normal;
  font-size:16px;
  line-height:20px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1473px;
  width:419px;
  height:20px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-weight:normal;
  font-size:16px;
  line-height:20px;
}
#u132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-weight:normal;
  font-size:16px;
  line-height:20px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1515px;
  width:419px;
  height:20px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-weight:normal;
  font-size:16px;
  line-height:20px;
}
#u133 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-weight:normal;
  font-size:16px;
  line-height:20px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1557px;
  width:419px;
  height:20px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-style:normal;
  font-weight:normal;
  font-size:16px;
  line-height:20px;
}
#u134 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit-Regular', 'Kanit';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:49px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1645px;
  width:580px;
  height:49px;
  display:flex;
  font-family:'Kanit-Regular', 'Kanit';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:49px;
}
#u135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1769px;
  width:580px;
  height:124px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit-Regular', 'Kanit';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:49px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1948px;
  width:580px;
  height:49px;
  display:flex;
  font-family:'Kanit-Regular', 'Kanit';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:49px;
}
#u137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1715px;
  width:580px;
  height:31px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
