body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:1378px;
  width:890px;
  height:128px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u390 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:36px;
  color:#414141;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:1378px;
  width:281px;
  height:108px;
  display:flex;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:36px;
  color:#414141;
}
#u391 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:36px;
  color:#414141;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:1180px;
  width:281px;
  height:108px;
  display:flex;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:36px;
  color:#414141;
}
#u392 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:1180px;
  width:890px;
  height:128px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u393 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:1582px;
  width:890px;
  height:256px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u394 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:36px;
  color:#414141;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:1582px;
  width:281px;
  height:108px;
  display:flex;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:36px;
  color:#414141;
}
#u395 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:4077px;
  width:890px;
  height:160px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u396 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:36px;
  color:#414141;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:4077px;
  width:312px;
  height:162px;
  display:flex;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:36px;
  color:#414141;
}
#u397 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:14px;
  color:#515151;
  text-align:center;
  line-height:32px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:3968px;
  width:980px;
  height:32px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:14px;
  color:#515151;
  text-align:center;
  line-height:32px;
}
#u398 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:5102px;
  width:892px;
  height:128px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u399 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:492px;
  height:380px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1905px;
  width:452px;
  height:340px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
}
#u400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:492px;
  height:380px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:1905px;
  width:452px;
  height:340px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
}
#u401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:295px;
  height:380px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:1905px;
  width:255px;
  height:340px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
}
#u402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:14px;
  color:#515151;
  text-align:center;
  line-height:32px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:2278px;
  width:980px;
  height:32px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:14px;
  color:#515151;
  text-align:center;
  line-height:32px;
}
#u403 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:14px;
  color:#515151;
  text-align:center;
  line-height:32px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:5012px;
  width:980px;
  height:32px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:14px;
  color:#515151;
  text-align:center;
  line-height:32px;
}
#u404 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:14px;
  color:#515151;
  text-align:center;
  line-height:32px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:7154px;
  width:980px;
  height:23px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:14px;
  color:#515151;
  text-align:center;
  line-height:32px;
}
#u405 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:7272px;
  width:888px;
  height:160px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u406 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:2367px;
  width:888px;
  height:192px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u407 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:1019px;
  height:474px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:3507px;
  width:979px;
  height:434px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
}
#u408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:1020px;
  height:780px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:2640px;
  width:980px;
  height:740px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
}
#u409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:14px;
  color:#515151;
  text-align:center;
  line-height:32px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:3403px;
  width:980px;
  height:32px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:14px;
  color:#515151;
  text-align:center;
  line-height:32px;
}
#u410 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:14px;
  color:#515151;
  text-align:center;
  line-height:32px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:6133px;
  width:965px;
  height:32px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:14px;
  color:#515151;
  text-align:center;
  line-height:32px;
}
#u411 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:1020px;
  height:750px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:412px;
  width:980px;
  height:710px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
}
#u412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:698px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:4304px;
  width:980px;
  height:698px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
}
#u413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:6255px;
  width:892px;
  height:128px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u414 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:710px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:6454px;
  width:980px;
  height:710px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
}
#u415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:670px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:7470px;
  width:1202px;
  height:670px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
}
#u416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:14px;
  color:#515151;
  text-align:center;
  line-height:32px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:8156px;
  width:980px;
  height:23px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:14px;
  color:#515151;
  text-align:center;
  line-height:32px;
}
#u417 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:8251px;
  width:890px;
  height:64px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:18px;
  color:#515151;
  line-height:32px;
}
#u418 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:36px;
  color:#414141;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:8251px;
  width:192px;
  height:162px;
  display:flex;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:36px;
  color:#414141;
}
#u419 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:473px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:8422px;
  width:1201px;
  height:473px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
}
#u420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:14px;
  color:#515151;
  text-align:center;
  line-height:32px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:8916px;
  width:980px;
  height:23px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:14px;
  color:#515151;
  text-align:center;
  line-height:32px;
}
#u421 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:1020px;
  height:896px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:5297px;
  width:980px;
  height:856px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
}
#u422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:64px;
  color:#232A39;
  text-align:center;
  line-height:72px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:178px;
  width:980px;
  height:144px;
  display:flex;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:64px;
  color:#232A39;
  text-align:center;
  line-height:72px;
}
#u423 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:60px;
  width:55px;
  height:23px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u425 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u425_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:60px;
  width:55px;
  height:23px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u426 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u426_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:18px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:82px;
  height:36px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:18px;
}
#u428 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:73px;
  height:27px;
  display:flex;
  opacity:0.8;
}
#u429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:9px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:83px;
  width:55px;
  height:4px;
  display:flex;
}
#u430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:9px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:83px;
  width:55px;
  height:4px;
  display:flex;
}
#u431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9062px;
  width:1200px;
  height:657px;
}
#u433_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:657px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(35, 42, 57, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u433_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:50px;
  color:#FFFFFF;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9181px;
  width:561px;
  height:75px;
  display:flex;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:50px;
  color:#FFFFFF;
}
#u434 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u434_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:26px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9258px;
  width:1200px;
  height:26px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:26px;
}
#u435 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:32px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9300px;
  width:217px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:32px;
}
#u437 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u437_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:222px;
  height:9px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9332px;
  width:217px;
  height:4px;
  display:flex;
  text-align:left;
}
#u438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:32px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9577px;
  width:186px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:32px;
}
#u439 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u439_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9513px;
  width:49px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u440 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u440_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:9px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9543px;
  width:49px;
  height:4px;
  display:flex;
}
#u441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:9513px;
  width:78px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u442 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u442_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:83px;
  height:9px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:9543px;
  width:78px;
  height:4px;
  display:flex;
}
#u443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:9513px;
  width:49px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u444 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u444_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:9px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:9543px;
  width:49px;
  height:4px;
  display:flex;
}
#u445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
