body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:527px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:;
  font-style:;
  color:#232A39;
  line-height:31px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:395px;
  width:580px;
  height:527px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:;
  font-style:;
  color:#232A39;
  line-height:31px;
}
#u77 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:2px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:727px;
  width:104px;
  height:1px;
  display:flex;
  font-family:'Ubuntu-Light', 'Ubuntu Light', 'Ubuntu', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:128px;
  color:#000000;
  line-height:145px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:164px;
  width:1180px;
  height:145px;
  display:flex;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:128px;
  color:#000000;
  line-height:145px;
}
#u79 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1086px;
  width:580px;
  height:62px;
  display:flex;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u80 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:1550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1979px;
  width:580px;
  height:1550px;
  display:flex;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u81 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:105px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:961px;
  width:432px;
  height:105px;
  display:flex;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:105px;
}
#u82 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:105px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1178px;
  width:432px;
  height:105px;
  display:flex;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:105px;
}
#u83 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:;
  font-weight:;
  font-size:16px;
  line-height:20px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1356px;
  width:419px;
  height:20px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-style:;
  font-weight:;
  font-size:16px;
  line-height:20px;
}
#u84 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:;
  font-weight:;
  font-size:16px;
  line-height:20px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1398px;
  width:419px;
  height:20px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-style:;
  font-weight:;
  font-size:16px;
  line-height:20px;
}
#u85 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:;
  font-weight:;
  font-size:16px;
  line-height:20px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1440px;
  width:419px;
  height:20px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-style:;
  font-weight:;
  font-size:16px;
  line-height:20px;
}
#u86 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:;
  font-weight:;
  font-size:16px;
  line-height:20px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1482px;
  width:419px;
  height:20px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-style:;
  font-weight:;
  font-size:16px;
  line-height:20px;
}
#u87 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:49px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1580px;
  width:580px;
  height:49px;
  display:flex;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:49px;
}
#u88 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1704px;
  width:580px;
  height:124px;
  display:flex;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u89 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:49px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1883px;
  width:580px;
  height:49px;
  display:flex;
  font-family:'Kanit SemiBold';
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:49px;
}
#u90 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1650px;
  width:580px;
  height:31px;
  display:flex;
  font-family:'IBM Plex Mono Light';
  font-weight:;
  font-style:;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u91 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:312px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:402px;
  width:441px;
  height:312px;
  display:flex;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:;
  font-style:;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:61px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:;
  font-style:;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u93 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:;
  font-style:;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:61px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:;
  font-style:;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u94 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:;
  font-style:;
  font-size:18px;
  color:#1E1E1E;
  line-height:18px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:54px;
  width:191px;
  height:18px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:;
  font-style:;
  font-size:18px;
  color:#1E1E1E;
  line-height:18px;
}
#u96 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:9px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:83px;
  width:55px;
  height:4px;
  display:flex;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:9px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:83px;
  width:55px;
  height:4px;
  display:flex;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-style:;
  font-weight:;
  font-size:16px;
  line-height:20px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1312px;
  width:419px;
  height:20px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-style:;
  font-weight:;
  font-size:16px;
  line-height:20px;
}
#u99 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3586px;
  width:1200px;
  height:657px;
}
#u100_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:657px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:3705px;
  width:547px;
  height:68px;
  display:flex;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
}
#u101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:32px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:3833px;
  width:207px;
  height:32px;
  display:flex;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:32px;
}
#u103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:212px;
  height:9px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:3865px;
  width:207px;
  height:4px;
  display:flex;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:32px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:3899px;
  width:267px;
  height:32px;
  display:flex;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:32px;
}
#u105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:3835px;
  width:48px;
  height:32px;
  display:flex;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u106 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:9px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:3865px;
  width:49px;
  height:4px;
  display:flex;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:3835px;
  width:61px;
  height:32px;
  display:flex;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u108 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:68px;
  height:9px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:3865px;
  width:63px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(-0.78798618251705deg);
  -moz-transform:rotate(-0.78798618251705deg);
  -ms-transform:rotate(-0.78798618251705deg);
  transform:rotate(-0.78798618251705deg);
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:3835px;
  width:46px;
  height:32px;
  display:flex;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u110 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:9px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:3865px;
  width:49px;
  height:4px;
  display:flex;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u77.a {
  left:20px;
  top:631px;
  width:334px;
  height:682px;
}
#u77_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:682px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#232A39;
  line-height:31px;
}
#u77.a {
  left:20px;
  top:631px;
  width:334px;
  height:682px;
}
#u77_text.a {
}
#u77 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u78.a {
}
#u78_img.a {
}
#u78.a {
}
#u78_text.a {
}
#u78 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u79.a {
  left:20px;
  top:125px;
  width:344px;
  height:184px;
}
#u79_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:128px;
  color:#000000;
  line-height:145px;
}
#u79.a {
  left:20px;
  top:125px;
  width:344px;
  height:184px;
}
#u79_text.a {
}
#u79 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u80.a {
  left:20px;
  top:1471px;
  width:328px;
  height:93px;
}
#u80_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u80.a {
  left:20px;
  top:1471px;
  width:328px;
  height:93px;
}
#u80_text.a {
}
#u80 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u81.a {
  left:20px;
  top:2559px;
  width:344px;
  height:1984px;
}
#u81_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:1984px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u81.a {
  left:20px;
  top:2559px;
  width:344px;
  height:1984px;
}
#u81_text.a {
}
#u81 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u82.a {
  left:20px;
  top:1346px;
  width:334px;
}
#u82_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:105px;
}
#u82.a {
  left:20px;
  top:1346px;
  width:334px;
}
#u82_text.a {
}
#u82 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u83.a {
  left:20px;
  top:1614px;
  width:355px;
  height:120px;
}
#u83_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:105px;
}
#u83.a {
  left:20px;
  top:1614px;
  width:355px;
  height:120px;
}
#u83_text.a {
}
#u83 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u84.a {
  left:20px;
  top:1792px;
  width:344px;
}
#u84_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u84.a {
  left:20px;
  top:1792px;
  width:344px;
}
#u84_text.a {
}
#u84 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u85.a {
  left:20px;
  top:1834px;
  width:344px;
}
#u85_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u85.a {
  left:20px;
  top:1834px;
  width:344px;
}
#u85_text.a {
}
#u85 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u86.a {
  left:20px;
  top:1876px;
  width:344px;
}
#u86_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u86.a {
  left:20px;
  top:1876px;
  width:344px;
}
#u86_text.a {
}
#u86 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u87.a {
  left:20px;
  top:1918px;
  width:344px;
}
#u87_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u87.a {
  left:20px;
  top:1918px;
  width:344px;
}
#u87_text.a {
}
#u87 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u88.a {
  left:20px;
  top:1996px;
  width:334px;
  height:120px;
}
#u88_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:49px;
}
#u88.a {
  left:20px;
  top:1996px;
  width:334px;
  height:120px;
}
#u88_text.a {
}
#u88 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u89.a {
  left:20px;
  top:2235px;
  width:334px;
  height:186px;
}
#u89_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u89.a {
  left:20px;
  top:2235px;
  width:334px;
  height:186px;
}
#u89_text.a {
}
#u89 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u90.a {
  left:20px;
  top:2463px;
  width:328px;
}
#u90_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#232A39;
  line-height:49px;
}
#u90.a {
  left:20px;
  top:2463px;
  width:328px;
}
#u90_text.a {
}
#u90 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u91.a {
  left:20px;
  top:2147px;
  width:334px;
  height:62px;
}
#u91_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#232A39;
  line-height:31px;
}
#u91.a {
  left:20px;
  top:2147px;
  width:334px;
  height:62px;
}
#u91_text.a {
}
#u91 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u92.a {
  left:20px;
  top:355px;
  width:334px;
  height:236px;
}
#u92_img.a {
  width:334px;
  height:236px;
}
#u92.a {
  left:20px;
  top:355px;
  width:334px;
  height:236px;
}
#u92_text.a {
}
#u92 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u93.a {
}
#u93_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:;
  font-style:;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u93.a {
}
#u93_text.a {
}
#u93 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u94.a {
  left:284px;
  top:33px;
  height:24px;
}
#u94_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u94.a {
  left:284px;
  top:33px;
  height:24px;
}
#u94_text.a {
}
#u94 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u96.a {
  left:19px;
  top:31px;
  width:82px;
  height:36px;
}
#u96_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:18px;
}
#u96.a {
  left:19px;
  top:31px;
  width:82px;
  height:36px;
}
#u96_text.a {
}
#u96 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u97.a {
}
#u97_img.a {
}
#u97.a {
}
#u97_text.a {
}
#u97 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u98.a {
  left:293px;
  top:55px;
}
#u98_img.a {
}
#u98.a {
  left:293px;
  top:55px;
}
#u98_text.a {
}
#u98 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u99.a {
  left:20px;
  top:1748px;
  width:344px;
}
#u99_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u99.a {
  left:20px;
  top:1748px;
  width:344px;
}
#u99_text.a {
}
#u99 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u100.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4573px;
  width:375px;
  height:536px;
}
#u100_state0.a {
  width:375px;
  height:536px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101.a {
  top:4637px;
  width:302px;
  height:136px;
}
#u101_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
}
#u101.a {
  top:4637px;
  width:302px;
  height:136px;
}
#u101_text.a {
}
#u101 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u103.a {
  left:30px;
  top:4952px;
}
#u103_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:32px;
}
#u103.a {
  left:30px;
  top:4952px;
}
#u103_text.a {
}
#u103 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u104.a {
  left:30px;
  top:4984px;
}
#u104_img.a {
}
#u104.a {
  left:30px;
  top:4984px;
}
#u104_text.a {
}
#u104 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u105.a {
  top:5020px;
}
#u105_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:32px;
}
#u105.a {
  top:5020px;
}
#u105_text.a {
}
#u105 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u106.a {
  top:4822px;
}
#u106_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u106.a {
  top:4822px;
}
#u106_text.a {
}
#u106 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u107.a {
  top:4852px;
}
#u107_img.a {
}
#u107.a {
  top:4852px;
}
#u107_text.a {
}
#u107 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u108.a {
  top:4822px;
}
#u108_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u108.a {
  top:4822px;
}
#u108_text.a {
}
#u108 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u109.a {
  top:4852px;
}
#u109_img.a {
}
#u109.a {
  top:4852px;
}
#u109_text.a {
}
#u109 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u110.a {
  top:4822px;
}
#u110_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u110.a {
  top:4822px;
}
#u110_text.a {
}
#u110 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u111.a {
  top:4852px;
}
#u111_img.a {
}
#u111.a {
  top:4852px;
}
#u111_text.a {
}
#u111 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
