body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:36px;
  color:#414141;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1089px;
  width:290px;
  height:108px;
  display:flex;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:36px;
  color:#414141;
}
#u172 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:64px;
  color:#232A39;
  text-align:center;
  line-height:72px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:178px;
  width:980px;
  height:144px;
  display:flex;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:64px;
  color:#232A39;
  text-align:center;
  line-height:72px;
}
#u173 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:60px;
  width:55px;
  height:23px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u175 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u175_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:60px;
  width:55px;
  height:23px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#232A39;
  text-align:right;
}
#u176 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u176_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:18px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:82px;
  height:36px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  line-height:18px;
}
#u178 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:73px;
  height:27px;
  display:flex;
  opacity:0.8;
}
#u179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:9px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:83px;
  width:55px;
  height:4px;
  display:flex;
}
#u180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:9px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:83px;
  width:55px;
  height:4px;
  display:flex;
}
#u181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1448px;
  width:1200px;
  height:657px;
}
#u183_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:657px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(35, 42, 57, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u183_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:50px;
  color:#FFFFFF;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1567px;
  width:561px;
  height:75px;
  display:flex;
  font-family:'Kanit Medium';
  font-weight:;
  font-style:;
  font-size:50px;
  color:#FFFFFF;
}
#u184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u184_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:26px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1644px;
  width:1200px;
  height:26px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:26px;
}
#u185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:32px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1686px;
  width:217px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:32px;
}
#u187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u187_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:222px;
  height:9px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1718px;
  width:217px;
  height:4px;
  display:flex;
  text-align:left;
}
#u188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:32px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1963px;
  width:186px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:32px;
}
#u189 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u189_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1899px;
  width:49px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u190 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u190_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:9px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1929px;
  width:49px;
  height:4px;
  display:flex;
}
#u191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:1899px;
  width:78px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u192_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:83px;
  height:9px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:1929px;
  width:78px;
  height:4px;
  display:flex;
}
#u193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:1899px;
  width:49px;
  height:32px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:32px;
}
#u194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u194_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:9px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:1929px;
  width:49px;
  height:4px;
  display:flex;
}
#u195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:16px;
  color:#232A39;
  line-height:26px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:1106px;
  width:890px;
  height:78px;
  display:flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:;
  font-style:;
  font-size:16px;
  color:#232A39;
  line-height:26px;
}
#u196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:611px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:416px;
  width:933px;
  height:611px;
  display:flex;
}
#u197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#232A39;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:1264px;
  width:203px;
  height:20px;
  display:flex;
  font-family:'IBM Plex Mono';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#232A39;
}
#u199 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u199_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:202px;
  height:9px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:1288px;
  width:197px;
  height:4px;
  display:flex;
}
#u200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
